/**
 * Colors: Solid
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-white: #ffffff !important;
  --vp-c-black: #000000 !important;

  --vp-c-neutral: var(--vp-c-black) !important;
  --vp-c-neutral-inverse: var(--vp-c-white) !important;
}

.dark {
  --vp-c-neutral: var(--vp-c-white) !important;
  --vp-c-neutral-inverse: var(--vp-c-black) !important;
}

/**
 * Colors: Palette
 *
 * The primitive colors used for accent colors. These colors are referenced
 * by functional colors such as "Text", "Background", or "Brand".
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *    It must satisfy the contrast ratio with pure white (#ffffff) text on
 *    top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *    or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *    on top of it.
 *
 *    The soft color must be semi transparent alpha channel. This is crucial
 *    because it allows adding multiple "soft" colors on top of each other
 *    to create a accent, such as when having inline code block inside
 *    custom containers.
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-gray-1: #dddde3 !important;
  --vp-c-gray-2: #e4e4e9 !important;
  --vp-c-gray-3: #ebebef !important;
  --vp-c-gray-soft: rgba(142, 150, 170, 0.14) !important;

  --vp-c-indigo-1: #3451b2 !important;
  --vp-c-indigo-2: #3a5ccc !important;
  --vp-c-indigo-3: #5672cd !important;
  --vp-c-indigo-soft: rgba(100, 108, 255, 0.14) !important;

  --vp-c-purple-1: #6f42c1 !important;
  --vp-c-purple-2: #7e4cc9 !important;
  --vp-c-purple-3: #8e5cd9 !important;
  --vp-c-purple-soft: rgba(159, 122, 234, 0.14) !important;

  --vp-c-green-1: #18794e !important;
  --vp-c-green-2: #299764 !important;
  --vp-c-green-3: #30a46c !important;
  --vp-c-green-soft: rgba(16, 185, 129, 0.14) !important;

  --vp-c-yellow-1: #915930 !important;
  --vp-c-yellow-2: #946300 !important;
  --vp-c-yellow-3: #9f6a00 !important;
  --vp-c-yellow-soft: rgba(234, 179, 8, 0.14) !important;

  --vp-c-red-1: #b8272c !important;
  --vp-c-red-2: #d5393e !important;
  --vp-c-red-3: #e0575b !important;
  --vp-c-red-soft: rgba(244, 63, 94, 0.14) !important;

  --vp-c-sponsor: #db2777 !important;
}

.dark {
  --vp-c-gray-1: #515c67 !important;
  --vp-c-gray-2: #414853 !important;
  --vp-c-gray-3: #32363f !important;
  --vp-c-gray-soft: rgba(101, 117, 133, 0.16) !important;

  --vp-c-indigo-1: #a8b1ff !important;
  --vp-c-indigo-2: #5c73e7 !important;
  --vp-c-indigo-3: #3e63dd !important;
  --vp-c-indigo-soft: rgba(100, 108, 255, 0.16) !important;

  --vp-c-purple-1: #c8abfa !important;
  --vp-c-purple-2: #a879e6 !important;
  --vp-c-purple-3: #8e5cd9 !important;
  --vp-c-purple-soft: rgba(159, 122, 234, 0.16) !important;

  --vp-c-green-1: #3dd68c !important;
  --vp-c-green-2: #30a46c !important;
  --vp-c-green-3: #298459 !important;
  --vp-c-green-soft: rgba(16, 185, 129, 0.16) !important;

  --vp-c-yellow-1: #f9b44e !important;
  --vp-c-yellow-2: #da8b17 !important;
  --vp-c-yellow-3: #a46a0a !important;
  --vp-c-yellow-soft: rgba(234, 179, 8, 0.16) !important;

  --vp-c-red-1: #f66f81 !important;
  --vp-c-red-2: #f14158 !important;
  --vp-c-red-3: #b62a3c !important;
  --vp-c-red-soft: rgba(244, 63, 94, 0.16) !important;
}

/**
 * Colors: Background
 *
 * - `bg`: The bg color used for main screen.
 *
 * - `bg-alt`: The alternative bg color used in places such as "sidebar",
 *   or "code block".
 *
 * - `bg-elv`: The elevated bg color. This is used at parts where it "floats",
 *   such as "dialog".
 *
 * - `bg-soft`: The bg color to slightly distinguish some components from
 *   the page. Used for things like "carbon ads" or "table".
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-bg: #ffffff !important;
  --vp-c-bg-alt: #f6f6f7 !important;
  --vp-c-bg-elv: #ffffff !important;
  --vp-c-bg-soft: #f6f6f7 !important;
}

.dark {
  --vp-c-bg: #1b1b1f !important;
  --vp-c-bg-alt: #161618 !important;
  --vp-c-bg-elv: #202127 !important;
  --vp-c-bg-soft: #202127 !important;
}

/**
 * Colors: Borders
 *
 * - `divider`: This is used for separators. This is used to divide sections
 *   within the same components, such as having separator on "h2" heading.
 *
 * - `border`: This is designed for borders on interactive components.
 *   For example this should be used for a button outline.
 *
 * - `gutter`: This is used to divide components in the page. For example
 *   the header and the lest of the page.
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-border: #c2c2c4 !important;
  --vp-c-divider: #e2e2e3 !important;
  --vp-c-gutter: #e2e2e3 !important;
}

.dark {
  --vp-c-border: #3c3f44 !important;
  --vp-c-divider: #2e2e32 !important;
  --vp-c-gutter: #000000 !important;
}

/**
 * Colors: Text
 *
 * - `text-1`: Used for primary text.
 *
 * - `text-2`: Used for muted texts, such as "inactive menu" or "info texts".
 *
 * - `text-3`: Used for subtle texts, such as "placeholders" or "caret icon".
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-text-1: rgba(60, 60, 67) !important;
  --vp-c-text-2: rgba(60, 60, 67, 0.78) !important;
  --vp-c-text-3: rgba(60, 60, 67, 0.56) !important;
}

.dark {
  --vp-c-text-1: rgba(255, 255, 245, 0.86) !important;
  --vp-c-text-2: rgba(235, 235, 245, 0.6) !important;
  --vp-c-text-3: rgba(235, 235, 245, 0.38) !important;
}

/**
 * Colors: Function
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attached to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 *
 * To understand the scaling system, refer to "Colors: Palette" section.
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-default-1: var(--vp-c-gray-1) !important;
  --vp-c-default-2: var(--vp-c-gray-2) !important;
  --vp-c-default-3: var(--vp-c-gray-3) !important;
  --vp-c-default-soft: var(--vp-c-gray-soft) !important;

  --vp-c-brand-1: var(--vp-c-indigo-1) !important;
  --vp-c-brand-2: var(--vp-c-indigo-2) !important;
  --vp-c-brand-3: var(--vp-c-indigo-3) !important;
  --vp-c-brand-soft: var(--vp-c-indigo-soft) !important;

  /* DEPRECATED: Use `--vp-c-brand-1` instead. */
  --vp-c-brand: var(--vp-c-brand-1) !important;

  --vp-c-tip-1: var(--vp-c-brand-1) !important;
  --vp-c-tip-2: var(--vp-c-brand-2) !important;
  --vp-c-tip-3: var(--vp-c-brand-3) !important;
  --vp-c-tip-soft: var(--vp-c-brand-soft) !important;

  --vp-c-note-1: var(--vp-c-brand-1) !important;
  --vp-c-note-2: var(--vp-c-brand-2) !important;
  --vp-c-note-3: var(--vp-c-brand-3) !important;
  --vp-c-note-soft: var(--vp-c-brand-soft) !important;

  --vp-c-success-1: var(--vp-c-green-1) !important;
  --vp-c-success-2: var(--vp-c-green-2) !important;
  --vp-c-success-3: var(--vp-c-green-3) !important;
  --vp-c-success-soft: var(--vp-c-green-soft) !important;

  --vp-c-important-1: var(--vp-c-purple-1) !important;
  --vp-c-important-2: var(--vp-c-purple-2) !important;
  --vp-c-important-3: var(--vp-c-purple-3) !important;
  --vp-c-important-soft: var(--vp-c-purple-soft) !important;

  --vp-c-warning-1: var(--vp-c-yellow-1) !important;
  --vp-c-warning-2: var(--vp-c-yellow-2) !important;
  --vp-c-warning-3: var(--vp-c-yellow-3) !important;
  --vp-c-warning-soft: var(--vp-c-yellow-soft) !important;

  --vp-c-danger-1: var(--vp-c-red-1) !important;
  --vp-c-danger-2: var(--vp-c-red-2) !important;
  --vp-c-danger-3: var(--vp-c-red-3) !important;
  --vp-c-danger-soft: var(--vp-c-red-soft) !important;

  --vp-c-caution-1: var(--vp-c-red-1) !important;
  --vp-c-caution-2: var(--vp-c-red-2) !important;
  --vp-c-caution-3: var(--vp-c-red-3) !important;
  --vp-c-caution-soft: var(--vp-c-red-soft) !important;
}

/**
 * Typography
 * -------------------------------------------------------------------------- */

:root {
  --vp-font-family-base: 'Inter', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
  --vp-font-family-mono: ui-monospace, 'Menlo', 'Monaco', 'Consolas',
    'Liberation Mono', 'Courier New', monospace !important;
  font-optical-sizing: auto !important;
}

:root:where(:lang(zh)) {
  --vp-font-family-base: 'Punctuation SC', 'Inter', ui-sans-serif, system-ui,
    'PingFang SC', 'Noto Sans CJK SC', 'Noto Sans SC', 'Heiti SC',
    'Microsoft YaHei', 'DengXian', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
}

/**
 * Shadows
 * -------------------------------------------------------------------------- */

:root {
  --vp-shadow-1: 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.06) !important;
  --vp-shadow-2: 0 3px 12px rgba(0, 0, 0, 0.07), 0 1px 4px rgba(0, 0, 0, 0.07) !important;
  --vp-shadow-3: 0 12px 32px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.08) !important;
  --vp-shadow-4: 0 14px 44px rgba(0, 0, 0, 0.12), 0 3px 9px rgba(0, 0, 0, 0.12) !important;
  --vp-shadow-5: 0 18px 56px rgba(0, 0, 0, 0.16), 0 4px 12px rgba(0, 0, 0, 0.16) !important;
}

/**
 * Z-indexes
 * -------------------------------------------------------------------------- */

:root {
  --vp-z-index-footer: 10 !important;
  --vp-z-index-local-nav: 20 !important;
  --vp-z-index-nav: 30 !important;
  --vp-z-index-layout-top: 40 !important;
  --vp-z-index-backdrop: 50 !important;
  --vp-z-index-sidebar: 60 !important;
}

@media (min-width: 960px) {
  :root {
    --vp-z-index-sidebar: 25 !important;
  }
}

/**
 * Layouts
 * -------------------------------------------------------------------------- */

:root {
  --vp-layout-max-width: 1440px !important;
}

/**
 * Component: Header Anchor
 * -------------------------------------------------------------------------- */

:root {
  --vp-header-anchor-symbol: '#' !important;
}

/**
 * Component: Code
 * -------------------------------------------------------------------------- */

:root {
  --vp-code-line-height: 1.7 !important;
  --vp-code-font-size: 0.875em !important;
  --vp-code-color: var(--vp-c-brand-1) !important;
  --vp-code-link-color: var(--vp-c-brand-1) !important;
  --vp-code-link-hover-color: var(--vp-c-brand-2) !important;
  --vp-code-bg: var(--vp-c-default-soft) !important;

  --vp-code-block-color: var(--vp-c-text-2) !important;
  --vp-code-block-bg: var(--vp-c-bg-alt) !important;
  --vp-code-block-divider-color: var(--vp-c-gutter) !important;

  --vp-code-lang-color: var(--vp-c-text-3) !important;

  --vp-code-line-highlight-color: var(--vp-c-default-soft) !important;
  --vp-code-line-number-color: var(--vp-c-text-3) !important;

  --vp-code-line-diff-add-color: var(--vp-c-success-soft) !important;
  --vp-code-line-diff-add-symbol-color: var(--vp-c-success-1) !important;

  --vp-code-line-diff-remove-color: var(--vp-c-danger-soft) !important;
  --vp-code-line-diff-remove-symbol-color: var(--vp-c-danger-1) !important;

  --vp-code-line-warning-color: var(--vp-c-warning-soft) !important;
  --vp-code-line-error-color: var(--vp-c-danger-soft) !important;

  --vp-code-copy-code-border-color: var(--vp-c-divider) !important;
  --vp-code-copy-code-bg: var(--vp-c-bg-soft) !important;
  --vp-code-copy-code-hover-border-color: var(--vp-c-divider) !important;
  --vp-code-copy-code-hover-bg: var(--vp-c-bg) !important;
  --vp-code-copy-code-active-text: var(--vp-c-text-2) !important;
  --vp-code-copy-copied-text-content: 'Copied' !important;

  --vp-code-tab-divider: var(--vp-code-block-divider-color) !important;
  --vp-code-tab-text-color: var(--vp-c-text-2) !important;
  --vp-code-tab-bg: var(--vp-code-block-bg) !important;
  --vp-code-tab-hover-text-color: var(--vp-c-text-1) !important;
  --vp-code-tab-active-text-color: var(--vp-c-text-1) !important;
  --vp-code-tab-active-bar-color: var(--vp-c-brand-1) !important;
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent !important;
  --vp-button-brand-text: var(--vp-c-white) !important;
  --vp-button-brand-bg: var(--vp-c-brand-3) !important;
  --vp-button-brand-hover-border: transparent !important;
  --vp-button-brand-hover-text: var(--vp-c-white) !important;
  --vp-button-brand-hover-bg: var(--vp-c-brand-2) !important;
  --vp-button-brand-active-border: transparent !important;
  --vp-button-brand-active-text: var(--vp-c-white) !important;
  --vp-button-brand-active-bg: var(--vp-c-brand-1) !important;

  --vp-button-alt-border: transparent !important;
  --vp-button-alt-text: var(--vp-c-text-1) !important;
  --vp-button-alt-bg: var(--vp-c-default-3) !important;
  --vp-button-alt-hover-border: transparent !important;
  --vp-button-alt-hover-text: var(--vp-c-text-1) !important;
  --vp-button-alt-hover-bg: var(--vp-c-default-2) !important;
  --vp-button-alt-active-border: transparent !important;
  --vp-button-alt-active-text: var(--vp-c-text-1) !important;
  --vp-button-alt-active-bg: var(--vp-c-default-1) !important;

  --vp-button-sponsor-border: var(--vp-c-text-2) !important;
  --vp-button-sponsor-text: var(--vp-c-text-2) !important;
  --vp-button-sponsor-bg: transparent !important;
  --vp-button-sponsor-hover-border: var(--vp-c-sponsor) !important;
  --vp-button-sponsor-hover-text: var(--vp-c-sponsor) !important;
  --vp-button-sponsor-hover-bg: transparent !important;
  --vp-button-sponsor-active-border: var(--vp-c-sponsor) !important;
  --vp-button-sponsor-active-text: var(--vp-c-sponsor) !important;
  --vp-button-sponsor-active-bg: transparent !important;
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-font-size: 14px !important;
  --vp-custom-block-code-font-size: 13px !important;

  --vp-custom-block-info-border: transparent !important;
  --vp-custom-block-info-text: var(--vp-c-text-1) !important;
  --vp-custom-block-info-bg: var(--vp-c-default-soft) !important;
  --vp-custom-block-info-code-bg: var(--vp-c-default-soft) !important;

  --vp-custom-block-note-border: transparent !important;
  --vp-custom-block-note-text: var(--vp-c-text-1) !important;
  --vp-custom-block-note-bg: var(--vp-c-default-soft) !important;
  --vp-custom-block-note-code-bg: var(--vp-c-default-soft) !important;

  --vp-custom-block-tip-border: transparent !important;
  --vp-custom-block-tip-text: var(--vp-c-text-1) !important;
  --vp-custom-block-tip-bg: var(--vp-c-tip-soft) !important;
  --vp-custom-block-tip-code-bg: var(--vp-c-tip-soft) !important;

  --vp-custom-block-important-border: transparent !important;
  --vp-custom-block-important-text: var(--vp-c-text-1) !important;
  --vp-custom-block-important-bg: var(--vp-c-important-soft) !important;
  --vp-custom-block-important-code-bg: var(--vp-c-important-soft) !important;

  --vp-custom-block-warning-border: transparent !important;
  --vp-custom-block-warning-text: var(--vp-c-text-1) !important;
  --vp-custom-block-warning-bg: var(--vp-c-warning-soft) !important;
  --vp-custom-block-warning-code-bg: var(--vp-c-warning-soft) !important;

  --vp-custom-block-danger-border: transparent !important;
  --vp-custom-block-danger-text: var(--vp-c-text-1) !important;
  --vp-custom-block-danger-bg: var(--vp-c-danger-soft) !important;
  --vp-custom-block-danger-code-bg: var(--vp-c-danger-soft) !important;

  --vp-custom-block-caution-border: transparent !important;
  --vp-custom-block-caution-text: var(--vp-c-text-1) !important;
  --vp-custom-block-caution-bg: var(--vp-c-caution-soft) !important;
  --vp-custom-block-caution-code-bg: var(--vp-c-caution-soft) !important;

  --vp-custom-block-details-border: var(--vp-custom-block-info-border) !important;
  --vp-custom-block-details-text: var(--vp-custom-block-info-text) !important;
  --vp-custom-block-details-bg: var(--vp-custom-block-info-bg) !important;
  --vp-custom-block-details-code-bg: var(--vp-custom-block-info-code-bg) !important;
}

/**
 * Component: Input
 * -------------------------------------------------------------------------- */

:root {
  --vp-input-border-color: var(--vp-c-border) !important;
  --vp-input-bg-color: var(--vp-c-bg-alt) !important;

  --vp-input-switch-bg-color: var(--vp-c-default-soft) !important;
}

/**
 * Component: Nav
 * -------------------------------------------------------------------------- */

:root {
  --vp-nav-height: 64px !important;
  --vp-nav-bg-color: var(--vp-c-bg) !important;
  --vp-nav-screen-bg-color: var(--vp-c-bg) !important;
  --vp-nav-logo-height: 24px !important;
}

.hide-nav {
  --vp-nav-height: 0px !important;
}

.hide-nav .VPSidebar {
  --vp-nav-height: 22px !important;
}

/**
 * Component: Local Nav
 * -------------------------------------------------------------------------- */

:root {
  --vp-local-nav-bg-color: var(--vp-c-bg) !important;
}

/**
 * Component: Sidebar
 * -------------------------------------------------------------------------- */

:root {
  --vp-sidebar-width: 272px !important;
  --vp-sidebar-bg-color: var(--vp-c-bg-alt) !important;
}

/**
 * Colors Backdrop
 * -------------------------------------------------------------------------- */

:root {
  --vp-backdrop-bg-color: rgba(0, 0, 0, 0.6) !important;
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: var(--vp-c-brand-1) !important;
  --vp-home-hero-name-background: transparent !important;

  --vp-home-hero-image-background-image: none !important;
  --vp-home-hero-image-filter: none !important;
}

/**
 * Component: Badge
 * -------------------------------------------------------------------------- */

:root {
  --vp-badge-info-border: transparent !important;
  --vp-badge-info-text: var(--vp-c-text-2) !important;
  --vp-badge-info-bg: var(--vp-c-default-soft) !important;

  --vp-badge-tip-border: transparent !important;
  --vp-badge-tip-text: var(--vp-c-tip-1) !important;
  --vp-badge-tip-bg: var(--vp-c-tip-soft) !important;

  --vp-badge-warning-border: transparent !important;
  --vp-badge-warning-text: var(--vp-c-warning-1) !important;
  --vp-badge-warning-bg: var(--vp-c-warning-soft) !important;

  --vp-badge-danger-border: transparent !important;
  --vp-badge-danger-text: var(--vp-c-danger-1) !important;
  --vp-badge-danger-bg: var(--vp-c-danger-soft) !important;
}

/**
 * Component: Carbon Ads
 * -------------------------------------------------------------------------- */

:root {
  --vp-carbon-ads-text-color: var(--vp-c-text-1) !important;
  --vp-carbon-ads-poweredby-color: var(--vp-c-text-2) !important;
  --vp-carbon-ads-bg-color: var(--vp-c-bg-soft) !important;
  --vp-carbon-ads-hover-text-color: var(--vp-c-brand-1) !important;
  --vp-carbon-ads-hover-poweredby-color: var(--vp-c-text-1) !important;
}

/**
  * Component: Local Search
  * -------------------------------------------------------------------------- */

:root {
  --vp-local-search-bg: var(--vp-c-bg) !important;
  --vp-local-search-result-bg: var(--vp-c-bg) !important;
  --vp-local-search-result-border: var(--vp-c-divider) !important;
  --vp-local-search-result-selected-bg: var(--vp-c-bg) !important;
  --vp-local-search-result-selected-border: var(--vp-c-brand-1) !important;
  --vp-local-search-highlight-bg: var(--vp-c-brand-1) !important;
  --vp-local-search-highlight-text: var(--vp-c-neutral-inverse) !important;
}
